{% extends 'base.html' %}
{% load static %}
{% block title %} Notifications {% endblock title %}
{% block content %}
<div class="container-fluid mt-2">
    <div class="row ">
        <div class="col-md-12 mt-5">
            <div class="card">
                            <h5 class="bg-secondary text-white pl-2 p-1 pt-2 pb-2 mb-2 rounded" style="font-weight:800;">Notifications</h5>

                    <div class="">
                        <section class="py-5">
                            <ul class="" id="actualtimeline" style="max-height:500px;overflow-y:auto;">
                                {% for t in notifications %}
                                <a href="{% url 'mark_as_seen' t.id %}">
                                    <li class="timeline-item mb-5">
                                        <h6 class="fw-bold {% if t.is_seen %}text-muted{% else %}text-success{% endif %}">{{t.message}}</h6>
                                        <p class="text-muted mb-2 fw-bold ">{{t.created_at}}</p>
                                    </li>
                                </a>
                                {% endfor %}
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
