{% extends 'base.html' %}
{% load static %}
{% block title %}Transaction {% endblock title %}
{% block content %}
     <div class="row container p-5 justify-content-between">
         <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
             <div class="col-xl-12">
                 <div class="card">

                        <div class="card-body d-flex flex-column justify-content-center align-items-center">
                         <div class="col-4 text-end">

                         </div>
                         <div class="text">
                             <p class="font-size-24 mb-0 text-secondary text-center font-weight-bold" style="font-size: 24px">Balance</p>
                             <p class="text-success font-weight-bold text-center m-0" style="font-size: 24px;">{{ balance }} {{request.user.currency}}
                             </p>

                         </div>

                        </div>
                 </div>
             </div>
         </div>
        <div class="col-lg-4 mb-4 "  >
            <div class="card border-0 shadow"
                style="border-radius: 10px; overflow: hidden; transition: transform 0.2s ease;  height: 150px;">

                <div class="card-footer bg-transparent border-0 text-center">
                    <a href="{% url 'payment_send' %}" class="btn bg-gradient-dark w-100 my-4 mb-2 btn-block rounded"
                        style="border-radius: 0; font-weight: 800; font-size: 1.0rem;" 
                        >Send Payment</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card border-0 shadow"
                style="border-radius: 10px; overflow: hidden; transition: transform 0.2s ease;  height: 150px;">

                <div class="card-footer bg-transparent border-0 text-center">
                    <a href="{% url 'payment_request' %}" class="btn bg-gradient-dark w-100 my-4 mb-2btn-block rounded"
                        style="border-radius: 0; font-weight: 600; font-size: 1.0rem;" 
                        >Request Payment</a>
                </div>
            </div>
        </div>
     </div>
        {% comment %} {% endif %} {% endcomment %}

         <div class="col-xl-11 col-lg-10 col-md-10 col-sm-10 mb-4">
             <div class="col-lg-12 col-12" style="padding-left:60px">
                     <h4>Recent Requests</h4>
             </div>
             <div class="table-responsive bg-white p-4" style="margin-left:60px; align-items: center">
                 <table class="table align-items-center mb-0" id="requestTable" style="padding:0px">
                     <thead>
                     <tr>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Requested From</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Amount</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                     </tr>
                     </thead>
                     <tbody>
                     {% for pr in paymentrequests %}
                         <tr>
                             <td>{{ pr.requested_to }}</td>
                             <td>{{ pr.requested_to.currency }} {{ pr.amount }}</td>
                             <td>
                                 {% if pr.is_accepted is None %}
                                     <span>Pending</span>
                                 {% elif pr.is_accepted %}
                                     <span>Accepted</span>
                                 {% else %}
                                     <span>Rejected</span>
                                 {% endif %}
                             </td>
                             <td>
                                 {% if pr.is_accepted is None %}
                                     <form id="acceptForm{{ forloop.counter }}" action="{% url 'payment_request_approve' %}" method="post">
                                         {% csrf_token %}
                                         <input type="hidden" value="{{ pr.id }}" name="tr_id">
                                         <input type="hidden" value="{{ pr.requested_to.id }}" name="send_to">
                                         <input type="hidden" value="{{ pr.requested_from.id }}" name="send_from">
                                         <input type="hidden" value="{{ pr.amount }}" name="amount">
                                         <button type="submit" class="btn btn-success">Accept</button>
                                     </form>
                                     <form id="rejectForm{{ forloop.counter }}" action="{% url 'payment_request_reject' %}" method="post">
                                         {% csrf_token %}
                                         <input type="hidden" value="{{ pr.id }}" name="tr_id">
                                         <button type="submit" class="btn btn-danger">Reject</button>
                                     </form>
                                 {% endif %}
                             </td>
                         </tr>
                     {% endfor %}
                     </tbody>
                 </table>
             </div>
         </div>

         <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
         <script src="https://cdn.datatables.net/2.0.3/js/dataTables.min.js"></script>

<script>
        new DataTable('#requestTable');
</script>
{% endblock content %}
