{% extends 'base.html' %}
{% load static %}
{% block title %}
404 | PayApp
{% endblock title %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="mt-5">
                <div class="text-center mb-5 d-flex flex-column justify-content-center align-items-center">
                    <h1 class="display-2 font-weight-medium">4<i class="bx bx-buoy bx-spin text-primary display-3"></i>4</h1>
                    <h4 class="text-uppercase">Sorry, page not found</h4>
                    <div class="mt-5 text-center">
                        <a class="btn bg-gradient-dark w-100 my-4 mb-2 waves-effect waves-light" href="/">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
